<p><%= t("mailers.announcements.notify.hi", name: @user.name) %></p>

<p>
  <%= t("mailers.announcements.notify.body", course: @klass.course.number, code: @klass.code, author: @announcement.user.name).html_safe %>
</p>

<blockquote style="border-left: 3px solid #ccc; padding-left: 1em; color: #555;">
  <%= @announcement.content %>
</blockquote>
