<p>Hi <%= @user.name %>,</p>

<p>
  You've been invited to <strong>Ta3alam</strong> as a <strong><%= @user.role.capitalize %></strong>.
</p>

<p>
  To get started, set your password using the link below. This link is valid for 15 minutes.
</p>

<p>
  <%= link_to "Set your password", edit_password_url(@user.password_reset_token) %>
</p>

<p>
  If you weren't expecting this invitation, you can safely ignore this email.
</p>
